.dash-child {
    padding: 20px 10px;
    text-align: center;
    transition: .2s;
}

.dash-child:hover {
    background: #f6f6f6;
}

.dash-child a {
    text-decoration: none;
    color: slateblue;
    font-weight: 400;
    font-size: 30px;
}